

<% if current_user.professional.present?  %>
  <div class="section1cp">
    <p class="titresectioncp">Dashboard</p>
    <div class="section1bg">
      <% @cards.each do |card| %>
        <a class="db-card" href="<%= edit_card_path(card.id) %>">
          <div class="col_activity "><%= image_tag card.photos[0], style: "width:150px" %></div>
          <div class="col_activity text">
            <div ><%= card.activity_title %></div>
            <div ><%= card.city %></div>

            <div>
            <% if card.draft %>
            <span class="draft"> Rough draft </span>
            <% else %>
              <span class="published"> Published </span>
              <% end %>
              </div>
          </div>
        </a>
      <% end %>
    </div>
  </div>
<% end %>
