<!-- TOP BANNER -->
<section id="section01" class="scroll_down">
  <div class="background_lp">
    <h3>DISCOVER LOCAL SPORTS IN BALI</h3>
  </div>
  <a href="#disciplines"><span></span>Scroll down</a>
</section>

<section id="disciplines" class="disciplines_list">
  <% @disciplines.each do |discipline| %>
    <h3><%= discipline.name %></h3>
  <% end %>
  <p>rzfgnzùrobfzùrfzrjbnfzjbfmkzbjfkbjazfkjbfmzbffb</p><br>
  <p>rzfgnzùrobfzùrfzrjbnfzjbfmkzbjfkbjazfkjbfmzbffb</p><br>
  <p>rzfgnzùrobfzùrfzrjbnfzjbfmkzbjfkbjazfkjbfmzbffb</p><br>
  <p>rzfgnzùrobfzùrfzrjbnfzjbfmkzbjfkbjazfkjbfmzbffb</p><br>
  <p>rzfgnzùrobfzùrfzrjbnfzjbfmkzbjfkbjazfkjbfmzbffb</p><br>
  <p>rzfgnzùrobfzùrfzrjbnfzjbfmkzbjfkbjazfkjbfmzbffb</p><br>
  <p>rzfgnzùrobfzùrfzrjbnfzjbfmkzbjfkbjazfkjbfmzbffb</p><br>
  <p>rzfgnzùrobfzùrfzrjbnfzjbfmkzbjfkbjazfkjbfmzbffb</p><br>
</section>

<body>




</body>
