<!-- TOP BANNER -->
<div class="background_lp"> 
    <h3>DISCOVER LOCAL SPORTS IN BALI</h3>
</div>

     <% @disciplines.each do |discipline| %>
             <h3><%= discipline.name %></h3>
      <% end %>
