<!-- TOP BANNER -->
<div class="background_lp"> 
    <h3>DISCOVER LOCAL SPORTS IN BALI</h3>
</div>

<div class="container">
  <div class="activity_lp">
    <div class="row">
      <div class="col-4">
        <h3> Surf </h3>
      </div>
      <div class="col-8">
        <a href=""> See more ... </a>
      </div>
    </div>
    <div class="activity_list_lp">
    </div> 

    <div class="row">
      <div class="col-4">
        <h3> Yoga </h3>
      </div>
      <div class="col-8">
        <a href=""> See more ... </a>
      </div>
    </div>
    <div class="activity_list_lp">
    </div> 
  </div>
</div>

