<div class="background"> 
  <div class="col align-self-center">
    <div class="text-block">
      <h3>Bali Surf with Jaya !</h3>
      <p><em>"From beginner to expert, I love teaching surf"</em></p>
      <%= image_tag "coach_pic.jpg", class: "coach_picture"%>
      <h4>Jaya</h4>
    </div>
   </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-s-10">
      <h4 id="activity">Activity</h4>
      <%= image_tag "surf_icon.svg", class: "activity_pic"%>
    </div>
  </div>
</div>



