<form action="/blogs" accept-charset="UTF-8" method="post">

    <label for="blog_title">Title</label><br>
    <input type="text" name="title" id="blog_title" />

    <label for="blog_content">Content</label><br>
    <textarea name="content" id="blog_content">
    </textarea>

    <input type="submit" name="commit" value="Créer un article" />
</form>