.cd-top.cd-top--show { 
 /* the button becomes visible */ 
 visibility: visible;
 opacity: 1;
} 

.cd-top.cd-top--fade-out { 
 /* if the user keeps scrolling down, the button is out of focus and becomes less visible */ 
 opacity: .5; 
}
