@keyframes bounce{
	from{
		transform: scale(0);
	}
	75%{
		transform: scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}


body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0);
}

#map{
	animation: bounce 0.6s;
}


.formulaire{
	margin-top: 64px;
	min-height: calc(100vh - 80px);
	background: #f9f8f6;
	display: flex;
	justify-content: center;
	h2{
		margin: 24px auto;
		font-weight: 300;
	}
}


.container-formulaire{
/*background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  background-color: #fafafa;
  margin-top: 40px;
  padding-top: 5rem;
  padding-bottom: 5rem;

.form-group{
	z-index: 10;
}

.title-formulaire{
  text-align: center;
  color: black;
}


label {
	text-transform: capitalize;
}

#label-title {
	font-weight: bold;
	color: #8d8b8b;
	padding-top: 12.5px !important; 
}

#card_city {
	height: 20%;
}

#back-step3 {
	height: 20% !important;
}

input, textarea{	
	border-radius: 3px;
	padding: 0.75rem;
	// border: 0.5px solid #06afc7;
	border: 0.8px solid #8d8b8b;
	min-width: 45%;
	&:active, &:focus{
		background-color: #FAFAFA;
		border: 1px solid #06afc7;
	}
	&:hover{
	}
	&::placeholder{
		font-size: 1.125rem;
		color:#383838;
	}
}

.formulaire{
	input{
		width: 100%;
	}
}
.input{
	margin: 24px auto;
}
.input-label{
	width: 100%;
	display: flex;
	&>label{
		width: 33%;
		font-weight: 600;
	}
	.checkboxes{
		display: flex;
		justify-content: space-between;
		width: 100%;
		input{
			transform: scale(1.25);
		}
		label{
			font-size: 0.875rem;
			font-weight: 500;
		}
	}
}
.label-checkbox{
	display: flex;
	justify-content: flex-start;
	width: 33%;
	input{
		width: 24px;
	}
}

textarea{
	height: 7rem;
	width: 100%;
	margin-bottom: 8px;
}

.card-upload-pic {
	display: flex;
	margin-top: 10px;
	vertical-align: center;
}

#pp-box {
	border:none !important;
	display: flex;
	float: left;
}
.label-checkbox{
	display: inline-block;
	width: 25%;
	margin-left: 2rem;
}

.languages_checkbox {
	display: inline-block;
	width: 25%;
	margin-left: 2rem;
}

.step-nav{
	display:flex;
	justify-content: flex-end;

}

.btn-step{
	width: 50%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	cursor: pointer;
	padding:0.675rem;
	background-color: #26cfe7;
	color: white;
	font-weight: 600;
	border: none;
	border-radius: 3px;
	transition: background-color ease 0.25s;
	&:hover{
		background-color: hsl(182, 100%, 20%);
	}
}

.btn-step.previous{
	border: 0;
	background:transparent;
	font-weight: 500;
	color: rgba(0,0,0,0.8);
	&:hover{
		color:rgba(0,0,0,1);
	}
}

.btn-step.previous{
	border: 1px solid #26cfe7;
	background:transparent;
	font-weight: 500;
	color: rgba(0,0,0,0.8);
	&:hover{
		color:rgba(0,0,0,1);
	}
}
.step{
	margin-top: 60px;
	margin-bottom: 60px;
	min-width: 90%;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.07);
	border-radius: 3px;
	z-index:10;
	background: white;
	padding: 1rem 4rem;
	@media (min-width: 600px){
		min-width: 640px;
	}
}

.step.hidden{
	margin-left: 200px;
	opacity: 0;
	transition: opacity 0.5s ease, margin-left 0.5s ease;
}

.step{
	opacity: 1;
	margin-left: 0;
	transition: opacity 0.5s ease, margin-left 0.5s ease;
}
}
