fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.evaluation[eval] { 
  border: none;
  float: left;
}

.evaluation[eval] > input { display: none; } 
.evaluation[eval] > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.evaluation[eval] > .half:before { 
  content: "\f089";
  position: absolute;
}

.evaluation[eval] > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.evaluation[eval] > input:checked ~ label, /* show gold star when clicked */
.evaluation[eval]:not(:checked) > label:hover, /* hover current star */
.evaluation[eval]:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.evaluation[eval] > input:checked + label:hover, /* hover current star when changing rating */
.evaluation[eval] > input:checked ~ label:hover,
.evaluation[eval] > label:hover ~ input:checked ~ label, /* lighten current selection */
.evaluation[eval] > input:checked ~ label:hover ~ label { color: #FFED85;  } 