footer {
    background:#252525;
    color:#fff;
    margin-top: 10px; 
    height: 60px;
    width: 100%;
    letter-spacing: 3px;
    bottom: 0 !important;
}

.designedwithlove {
  float: left;
  padding-left: 1rem;
  line-height: 60px;
  margin-bottom: 0;
}

.copyright {
  float: right;
  padding-right: 1rem;
  line-height: 60px;
  margin-bottom: 0; 
}