footer {
    background:#252525;
    color:#fff;
    margin-top: 10px; 
    height: 60px;
    width: 100%;
}

.copyright {
    width: 100%;
    text-align: right;
    color: #fff;  
    padding-right: 1rem;
    line-height: 60px;
}