nav {
  font-family: 'Nanum Gothic', sans-serif;
  box-shadow: 0px 0px 8px #f2f2f2;
  color: black;
  height: 60px;
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  z-index: 100000;
  height: auto;

  a {
    color: black;
    font-weight: bold;
  }
}

  .nav-link {
    margin-left: 10px;
    color: black !important;
  }

  .logo {
    border-radius: 50%;
    width: 8%;
    margin-right: 15px;
      @media (min-width: 991px) {
      width: 4%;
    }
  }

  .nav-item {
    align-items: center;
    padding-top: 8px !important; 
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  #name_logo {
    font-size: 1.8em;
    margin-right: 15px;
  }


  #experience_button {
    background-color: white;
    opacity: 0.9;
        @media (min-width: 991px) {
        background-color: white;
        opacity: 0.9;
        border-radius: 60px 60px;
        }
  }

  #navbardrop {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  .nav-link-img {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  .dropdown-menu {
    opacity: 0.9;
    border: none !important;
    min-width: 7rem !important;
  }

  .dropdown-toggle::after {
    margin-left: 1em !important;
  }

  .nav-item-log {
    padding-top: 16px;
  }

/*END*/
