
#activity_title
{
}

.error-message
{
  display: none;
  color: red;
}
<<<<<<< HEAD
=======

input.valid, textarea.valid {
	border: 2px solid green;
}


>>>>>>> ac11c802f95aca47a740c4779ce8e1a7f78c3903
