
<<<<<<< HEAD
=======

>>>>>>> development
#activity_title
{
}

.error-message
{
  display: none;
  color: red;
}

input.valid, textarea.valid {
	border: 2px solid green;
}

input.invalid, textarea.invalid {
	border: 2px solid red;
<<<<<<< HEAD
}
=======
}
>>>>>>> development
