.account-information {
  margin-right: 25%;
  margin-left: 25%;
}

.container-edit {
	margin-top: 40px;
	padding-top: 5rem;
	padding-bottom: 5rem;
  position: relative;
}

.title-edit {
  letter-spacing: 3px;
	text-align: center;
	color: black;	
}

.btn-cancel {
  border: none; 
  background-color:  #d14734; 
  border-radius: 60px 60px;
  color: white;
  margin-bottom: 20px;
  &:hover{
    opacity: 0.9;
    cursor: pointer;
  }
}

.btn-cancel:focus {
  outline: none;
  border: none; 
  background-color:  #d14734; 
  border-radius: 60px 60px;
  color: white;
}

.unhappy {
  margin-top: 20px;
}

.btn-update {
  color: #fff;   
  border-color: #26cfe7;
  background-color: #26cfe7;
  margin-top: 20px;
  &:hover{
    opacity: 0.9;
    cursor: pointer;
  }
 }

 .btn-update:focus {
  outline: none;
  color: #fff;   
  border-color: #26cfe7;
  background-color: #26cfe7;
}

 .profile-picture {
  position: absolute;
  margin-top: -480px;
  margin-left: 50%;
 }

#pp-edit {
  height: 200px;
  width: 200px;
  object-fit: cover;
  display: flex;
  float: center;
  margin-left: 70px;
  position: relative;
  margin-bottom: 15px;
}

.actions-update {
  margin-right: 25%;
  margin-left: 25%;  
}