.step {
    display: none; 
}

* {
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif; 
  font-weight: 300;
}

.container {
  max-width: 1280px;
  display: flex;
  color:  #05282e;
}

.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  @media (min-width: 991px) {
      min-width: 350px;
      position: static;
      height: auto;
      float: right;
  }
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

/*__________BANNER TOP__________*/

.background {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  background-image: url("surf_drone3.jpg");
  height: 60vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.85;
}

.background h3 {
  font-size: 2em;
  @media (min-width: 991px) {
      font-size: 3em;
  }
}

.bg-text {  
  margin-left: 10%;
  color: white; 
  font-size: 1.3em;
}

/*__________CONTACT__________*/

#contact_info { 
  position: fixed;
  width: 100%;
  background-color: white;
  font-size: 0.9em;
  list-style-type: none;
  padding: 0;
  box-shadow: 2px 0.5px 6px lightgrey;
   @media (min-width: 991px) {
        position: fixed;
        width: 350px;
        background-color: white;
        font-size: 0.9em;
        list-style-type: none;
        padding: 30px;
        top: 35vh;
        box-shadow: 2px 0.5px 6px lightgrey;
        z-index: 1;
  }
}

#contact_name {
  display: flex;
  float: right;
  padding-right: 20px;
  padding-top: 0;
  padding-left: 15px; 
  color:  #404040;
  font-size: 1.7em;
  @media (min-width: 991px) {
      display: flex;
      float: left;
      color:  #404040;
      font-size: 1.7em;
      padding-top: 0;
      margin-bottom: 0;
  } 
}

.coach_picture {
  display: flex;
  float: right;
  min-width: 9%;
  max-width: 9%;
  border-radius: 50%;
  padding-top: 3px;
   @media (min-width: 991px) {
     display: flex;
     float: right;
     max-width: 27%;
     border-radius: 50%;
     top: 40px;
  } 
}

.display_contact_button {
  background-color:  #d14734; 
  border-radius: 60px 60px;
  color: white;
  padding: 10px 70px;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  margin-top: 1.5%;
    @media (min-width: 991px) {
    background-color: #d14734;
    border-radius: 60px 60px;
    color: white;
    padding: 10px 70px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;

      &:focus {
        outline: none;
      }
      &:hover {
        opacity: 0.9; 
        cursor: pointer;
      }  
    } 
}

#display_contact_info {
    text-align: center;
    background-color: white;
    margin-top: 20px;
    display: none;
  ul {
    list-style-type: none;
    padding:0;
  }
}


/*__________CONTACT BUTTON__________*/

#icon {
  color: #073d46;
  padding: 20px;
  font-size: 1.2em;
}

#icon:hover {
  opacity: 0.8;
}

/*__________DISCIPLINE__________*/

.activity {
  margin-top: 60px;
  font-size: 1.3em;
}

.activity h1 {
  font-weight:500;
  line-height: 1.2; 
  color:inherit; 
}

/*__________DESCRIPTION__________*/

#description_text {
  padding-top: 45px;
  width: 100%;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 10px;
}

/*__________PRACTICAL INFORMATION__________*/

#practical_info {
  margin-top: 45px;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
}

#practical_info li {
  padding-top: 15px;
}

#practical_info span {
  font-weight: bold;
}

/*__________CAROUSEL__________*/

/* Position the image container (needed to position the left and right arrows) */
#slideshow {
  margin-top: 35px;
  width: 40%;
  padding: 0;
  position: relative;
  margin-left: 10%;
}

/* Hide the images by default */
.mySlides {
  display: none;
  box-shadow: 2px 0.5px 6px lightgrey;
  border-radius: 0 3px 3px 0;
}

.mySlides:first-child {
  display: block;
  box-shadow: 2px 0.5px 6px lightgrey;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: white;
  opacity: 0.5;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
  padding: 0;
}

.demo {
  opacity: 0.6;
  padding-top: 5px;
}

.active,
.demo:hover {
  opacity: 1;
}

#slideshow_bottom {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 12px;
}

.comments {
  padding-top: 50px;
  display: inline-grid;
  float: center;
}

.evaluation_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin:auto;  
  color: #fff;   
  border-color: #26cfe7;
  background-color: #26cfe7;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  border-radius: 10px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px; 
  border-radius: 60px 60px;
  cursor: pointer;
}

.evaluation_button:hover {
  background-color:  #14b5cc;
  border-color: #14B5CC;
  border-radius: 60px 60px;
}

.unique_comment {
  display: flex; 
  flex-direction: row; 
}
.firstline {
  display: flex; 
}

.starscore {
  display: flex;
}
.score, .publication {
  line-height: 36px; 
  margin-left: 20px; 
}


.carrousel {
  width: 450px;
  height: 400px;
  object-fit: cover;
  padding: 0;
}

.demo {
  object-fit: cover;
}


.hidden {
  display: none; 
}

.text {
  display: flex; 
  flex-direction: column; 
}

#practical_info {
  border: 1px solid #f1f1f1;
}