a:link {
    color: inherit;
    text-decoration: none !important;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration:none;
  color: inherit !important;
}


.discipline-title {
  margin-top: 90px;
  text-align: center;
  padding: 20px;  
  letter-spacing: 3px;
  text-transform: capitalize;
}

.card-img-top {
  width: 230px !important;
  height: 160px;
  padding-bottom: 15px;
  object-fit: cover;
}

.wrapper-card {
  padding-right: 3vh !important;
  padding-left: 3vh !important;
}

.card-deck {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  min-width: 25%;
    @media (min-width: 991px) {
       padding: 25px;
    }
}

.card-deck::after {
  content: "";
  flex: auto;
}

.card-deck .score{
  display:flex;
  margin-left: 0;
}

.card-title {
  height: auto;
  overflow-wrap: break-word;
  flex-wrap: wrap !important;
  max-width: 220px;
}

.score {
  display: flex; 
  justify-content: space-between;
}

.average {
  display: none; 
}

#map_discipline {
  height: 350px;
}