.container {
  max-width: 1280px;
  display: flex;
  color:  #05282e;

}

a:link {
    color: inherit;
    text-decoration: none !important;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration:none;
}


.wrapper {
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 11px;
}

.wrapper:hover {
  opacity: 0.9;
}

.discipline-title {
text-align: center;
padding: 20px;  
}

.card-img-top {
	max-width: 250px;
	height: 200px;
}

.card {
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  max-width: 250px;
  grid-template-columns: repeat(4, 1fr);
}

.card-deck {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: space-between;
    @media (min-width: 991px) {
       display: flex;
       flex-direction: column;
       flex-flow: row wrap;
       justify-content: space-between;
       padding: 25px;
    }
}

.card-deck::after {
  content: "";
  flex: auto;
}

.card-body {
  padding-top: 5px;
  padding-bottom: 5px !important;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.018);
}


