<<<<<<< HEAD
=======

>>>>>>> development
.section1cp {
  max-width:1280px;
  margin:0px auto;
  padding:20px;
  
}
.section1bg {
  padding:10px;
  border: 1px solid rgba(0,0,0,0.1);
 
}
.titresectioncp {
  font-size:20px;
  margin-left: 5%;
}

.col_activity {
     @media (min-width: 991px) {
       
    }
}

.col_activity.text {
  display: flex;
  width: 100%;
  margin-left: 20px;
  justify-content: space-between;
  flex-direction: column;
  div{
    width: 30%;
  }
  @media(min-width: 991px) {
    flex-direction: row;
  } 

}

.db-card{
  display:flex;
  justify-content: space-between;
  padding: 12px 0;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  &:hover{
    color:black;
    background-color:rgba(0,0,0,0.05);
  }
  &:last-child{
    border-bottom: none;
  }
  @media(min-width: 991px) {

  }
}

 .draft{
  color: red;
 }

 .published{
  color: green;
 }