.card-img-top {
  max-width: 250px;
  height: 200px;
}

.card {
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  max-width: 250px;
  grid-template-columns: repeat(4, 1fr);
}

.card-deck_activity {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;

  justify-content: space-between;
    @media (min-width: 991px) {
       display: flex;
       flex-direction: column;
       flex-flow: row wrap;
       justify-content: space-between;
       padding: 25px;
    }

}
.wrapper{
transform: scale(1);
  transform: scale(1.10);
}

.card-deck_activity::after {
  content: "";
  flex: auto;
}

.card-body_activity {
  padding-top: 5px;
  padding-bottom: 5px !important;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.018);
}


.btn_activity_edit{
text-align: center;
padding: 5px;
color: blue;

}

.activity_delete{

  background-color: #d14734;
  padding: 5px;
  border-radius: 5px;

}

.activity_delete:hover{
  color:white;

}

.btn_activity_delete{
  text-align: center;
  color: white;
  text-decoration:none;
}