nav {
  font-family: 'Roboto', sans-serif;
  font-color: black;
  box-shadow: 0px 0px 8px #f2f2f2; /*lightgrey*/
}

.nav-link {
  margin-left: 10px;
}

.logo {
	border: 1px solid #f2f2f2 ;
	border-radius: 50%;
	max-width: 3%;
	margin-right: 15px;
}

#name_logo {
	font-size: 2em;
}

#name_logo:hover {
	background-position: -75px 0;
}