* {
  box-sizing: border-box;
  font-family: 'Robot', sans-serif; 
  font-weight: 300;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

h2 {
  font-size: 1.7em !important;
  font-family: 'Vidaloka', serif !important; 
}

.container {
  margin-left: 130px !important;
  margin-right: 130px !important;
}

/*__________BANNER TOP__________*/

.background {
  margin: 0;
  padding: 0;
  display: flex;
  background-image: url("surf_drone3.jpg");
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.85;
}

.background h3 {
  font-family: 'Vidaloka', serif; 
  font-size: 3em;
}

.bg-text {	
  margin-top: 200px;
  margin-left: 150px;
  color: white;
    display: flex;
  flex-wrap: wrap; 
}

/*__________CONTACT__________*/

#contact {
  display: flex;
  flex-wrap: wrap;
  margin-top: 300px;
}

#contact_title {
  color:  #404040;
  font-size: 1.2em;
  padding-top: 15px;
}

.coach_picture {
  display: flex;
  float: right;
  max-width: 20%;
  border-radius: 50%;
  margin-top: -30px;
  margin-right: 30px;
}

#contact_info {
  width: 350px;
  height: 250px;
  background-color: white;
  font-size: 0.9em;
  list-style-type: none;
  box-shadow: 2.5px 0.5px 10px lightgrey;
  padding: 15px;
}

/*__________DISCIPLINE__________*/

#title {
  padding-top: 80px;
  color:  #404040;
  font-size: 1.2em;
}

.activity_pic {
  padding-top: 15px;
  max-width: 8%;
}

.activity_pic:hover {
  opacity: 0.9; 
}

/*__________DESCRIPTION__________*/

#description_text {
  padding-top: 15px;
  width: 100%;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

/*__________PRACTICAL INFORMATION__________*/

#practical_info {
  margin-top: 15px;
  padding-top: 15px;
  width: 100%;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  border: 1px solid #f2f2f2;
  list-style-type: none;
  box-shadow: 2.5px 0.5px 3px lightgrey;
}

#practical_info li {
  padding-top: 15px;
}

#practical_info span {
  font-weight: bold;
}

/*__________CAROUSEL__________*/

/* Position the image container (needed to position the left and right arrows) */
#slideshow {
  margin-top: 35px;
  margin-left: 29% !important;
  width: 40%;
  padding: 0;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

#slide1 {
  display: block;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: white;
  opacity: 0.5;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
  padding: 0;
}

.demo {
  opacity: 0.6;
  padding-top: 5px;
}

.active,
.demo:hover {
  opacity: 1;
}

#slideshow_bottom {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 12px;
}


