<!-- <footer>
  <div class="madewithlove">Made with <%= image_tag "heart.png", style: "height:25px"%>
  <div class="copyright">Sports List, © 2018 Copyright</div>
  <div style="clear: both;"></div>
</footer>
 -->

 <footer>
  <p class="designedwithlove">Designed with <%= image_tag "heart.png", style: "height:25px"%> with THP</p>
  <p class="copyright">Sports List, © 2018 Copyright</p>
  <div style="clear: both;"></div>
</footer>